{% extends 'base.html.twig' %}
{% block title %}About - Reviews Empire
{%
endblock %}
{% block body %}
<div class="container mt-5">
  <div>
    <div class="text-center">
      <h1>Discover REVIEWS EMPIRE</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing Lorem ipsum dolor sit amet. elit. Incidunt, facere?</p>
    </div>
    <div class="mt-5">
      <p class="fw-bold mb-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia voluptate, earum ad obcaecati amet rerum unde
        ipsum aliquid vero iste doloremque temporibus molestias tempora et, aut quia non suscipit inventore odit quam
        molestiae modi soluta a error! Sint, explicabo quis. Hic eaque possimus amet consequatur dolorum quidem atque
        doloribus quas sequi iusto eum odio animi, impedit pariatur sunt libero? Possimus eaque maiores explicabo,
        corporis labore porro modi nulla tenetur quaerat vero voluptates accusamus ex earum molestiae iste quo natus
        facilis praesentium magni facere iure quam illo nostrum consequuntur. Voluptatum atque necessitatibus excepturi
        illo inventore maxime exercitationem nisi magni hic suscipit!
      </p>
    </div>
    <div class="mx-5">
      <div class="mb-4">
        <h3 class="fw-bold">Our Wellness Journey</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae explicabo ratione itaque reiciendis?
          Eaque
          explicabo mollitia quidem maxime minima sint vero quia at atque labore neque voluptatem cumque architecto,
          animi
          quae ab illo dolorum eius omnis repellendus sunt iusto. Minus dolorem, cumque alias nam reiciendis asperiores
          rerum repellendus explicabo totam, dolor modi necessitatibus magnam optio fugit velit. Deserunt debitis
          quaerat
          numquam adipisci dignissimos et praesentium officia, cumque repellendus veritatis ea laborum quasi inventore
          similique iste, perferendis reiciendis maxime quo vero.
        </p>
      </div>
      <div class="mb-4">
        <h3 class="fw-bold">What Sets Us Apart</h3>
        <ul>
          <li class="mb-3">
            <b>Expertise: </b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, praesentium? Voluptatem
            ratione alias suscipit eveniet error ab incidunt dignissimos repellendus sapiente, iste eligendi obcaecati
            temporibus ex, voluptate nihil possimus hic, magnam dolorem nesciunt eum repellat minus natus vel
            blanditiis? Velit, sit expedita. Autem, sit. Suscipit reiciendis alias debitis asperiores. Esse.
          </li>
          <li class="mb-3">
            <b>Community: </b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, praesentium? Voluptatem
            ratione alias suscipit eveniet error ab incidunt dignissimos repellendus sapiente, iste eligendi obcaecati
            temporibus ex, voluptate nihil possimus hic, magnam dolorem nesciunt eum repellat minus natus vel
            blanditiis? Velit, sit expedita. Autem, sit. Suscipit reiciendis alias debitis asperiores. Esse.
          </li>
          <li class="mb-3">
            <b>Quality Content: </b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, praesentium?
            Voluptatem
            ratione alias suscipit eveniet error ab incidunt dignissimos repellendus sapiente, iste eligendi obcaecati
            temporibus ex, voluptate nihil possimus hic, magnam dolorem nesciunt eum repellat minus natus vel
            blanditiis? Velit, sit expedita. Autem, sit. Suscipit reiciendis alias debitis asperiores. Esse.
          </li>
        </ul>
      </div>
      <div class="mb-4">
        <h3 class="fw-bold">Our Approach</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae explicabo ratione itaque reiciendis?
          Eaque
          explicabo mollitia quidem maxime minima sint vero quia at atque labore neque voluptatem cumque architecto,
          animi
          quae ab illo dolorum eius omnis repellendus sunt iusto. Minus dolorem, cumque alias nam reiciendis asperiores
          rerum repellendus explicabo totam, dolor modi necessitatibus magnam optio fugit velit. Deserunt debitis
          quaerat
        </p>
      </div>
      <div class="mb-4">
        <h3 class="fw-bold">Join Our Community</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae explicabo ratione itaque reiciendis?
          Eaque
          explicabo mollitia quidem maxime minima sint vero quia at atque labore neque voluptatem cumque architecto,
          animi
          quae ab illo dolorum eius omnis repellendus sunt iusto. Minus dolorem, cumque alias nam reiciendis asperiores
          <a href="#" class="text-primary fw-bold">#ReviewsEmpire</a> explicabo totam, dolor modi necessitatibus magnam
          optio
          fugit velit. Deserunt
        </p>
      </div>
      <div class="mb-4">
        <h3 class="fw-bold">Contact Us</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae explicabo ratione itaque reiciendis?
          Eaque quae ab illo dolorum eius omnis repellendus sunt iusto. Minus dolorem, cumque alias nam reiciendis
          asperiores
          <a href="#" class="text-primary fw-bold text-decoration-underline">contact form</a> explicabo totam, <a
            href="#" class="text-primary fw-bold text-decoration-underline">Facebook</a> and <a href="#"
            class="text-primary fw-bold text-decoration-underline">Instagram</a>
        </p>
      </div>
      <div class="mb-4">
        <h3 class="fw-bold">Join Our Community</h3>
        <p>Lorem ipsum dolor sit amet <a href="#" class="text-primary fw-bold">REVIEWS EMPIRE <sup
              class="sup">TM</sup></a> consectetur adipisicing elit. Repudiandae explicabo ratione itaque reiciendis?
          Eaque explicabo mollitia quidem maxime minima sint vero quia at atque labore neque voluptatem cumque
          architecto,
          animi quae ab illo dolorum eius omnis repellendus sunt iusto. Minus dolorem, cumque alias nam reiciendis
          asperiores explicabo totam, dolor modi necessitatibus magnam
          optio fugit velit. Deserunt
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}