<div class="container my-5">
	<div class="row">
		<div class="col-lg-6 offset-lg-3 text-center">
			<h3>
				Revitalize Your Wellbeing :
				<br/>
				Subscribe to our Wellness Insights
			</h3>
			<p>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat
						exercitationem quibusdam ratione unde cupiditate magni porro, placeat
						consequuntur
			</p>
			<form action="" class="d-flex">
				<input type="email" class="form-control" placeholder="Enter Your Email"/>
				<button class="border border-1 custom-btn">Subscribe</button>
			</form>
		</div>
	</div>
</div>
